images file_path: "C:\Users\V.SRAVANI\PycharmProjects\pythonProject1\hello\Gif_Creater\shinchan_images\Ashinchan.jpg"
                  "C:\Users\V.SRAVANI\PycharmProjects\pythonProject1\hello\Gif_Creater\shinchan_images\Bshinchan.jpg"
                  "C:\Users\V.SRAVANI\PycharmProjects\pythonProject1\hello\Gif_Creater\shinchan_images\Eshinchan.jpg"
output file_path: "C:\Users\V.SRAVANI\PycharmProjects\pythonProject1\hello\Gif_Creater\gif_output.gif"
